*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.limit {
  width: 800px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid cyan;
  &__inner {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 5px;
  }
  }

.edited{
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 5px;
}

.btn {
  margin: 5px;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: orange;
  border: solid 1px orange;
  transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
  &:hover {
    border-radius: 7px;
    background-color: grey;
    font-size: 15px;
  }

  &:active {
    background: #82D2FF;
    border: 3px solid green;
    color:green;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.scndbtn {
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: orange;
  border: solid 1px orange;
  transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
 
  &:hover {
    border-radius: 7px;
  background-color: grey;
  font-size: 15px;
  &:active{
    background: #82D2FF;
    border: 3px solid green;
    color:green;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }    
}
}
